/* #region-debug */
.screen{
    background-color: red;
}

.sidebar{
    background-color: blue;
}

.content{
    background-color: green;
    .header{
        background-color: orange;
    }
    .main{
        background-color: plum;
    }
}

.footer{
    background-color: yellow;
}

.col-12{
    background-color: rgb(25, 25, 46);
}

.col-2{
    background-color: orangered;
    height: 100%;
}

/* #endregion-debug */

/* #region-common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    border: 2px solid black;
}

body{
    overflow: hidden;
}

.screen{
    height: 100vh;
    width: 100vw;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.row-jc-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.align-items-center-jc-end{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;

}

.col-12{
    width: 100%;
    margin-bottom: 2rem;
}

.col-2-pad{
    width: calc((100%/12)*2);
    padding: 1rem;
}

a {
    text-decoration: none;
}

.text-align-center{
    text-align: center;
}

.margin-top-1{
    margin-top: 1rem;
}

.margin-bottom-1{
    margin-bottom: 1rem;
}

/* #endregion-common */

/* #region-sidebar */
.sidebar{
    height: 90%;
    width: 15%;
    position: relative;
    padding: 1rem;
    
    .row-column-sbtween{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        height:90%;
    }
    
    a{
        text-decoration: none;
        color: grey;
        font-weight: bold;
    }

    .home{
        color: white;
    }

    .row-sidebar{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .logo-sidebar{
        vertical-align: middle;
        padding-right: 0.3rem;
        filter: invert(1) opacity(40%);
    }

    .title-playlist{
        color: white;
        font-weight: bold;
        padding-top: 0.5rem;
        padding-bottom: 0.2rem;
    }

    .fa-plus{
        height: 40px;
        width: 40px;
        padding-top: 0.6rem;
        background-color: grey;
        text-align: center;
        margin-right: 0.3rem;
    }

    li{
        list-style: none;
        color: grey;
        padding-top: 0.2rem;
        font-weight: bold;
    }
}

/* #endregion-sidebar */

/* #region-content */
.content{
    height: 90%;
    width: 85%;
    position: absolute;
    top: 0;
    left: 15%;
}
/* #region-header */
.header{
    height: 15%;
    width: 100%;
    a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        margin: 0rem 1rem;
        padding: 0.5rem 2rem;
        border-radius: 2rem;
        border-color: white;
    }
}

/* #endregion-header */
/* #region-main */
.main {
    overflow: scroll;
    width: 100%;
    height: 85%;
    padding: 2rem;
}

.h10{
    height: 10%;
}

.h40{
    height: 40%;
}

.title-image{
    font-weight: bold;
    color: white;
}

.sub-title-image{
    font-weight: bold;
    color: grey;
    padding-top: 0.3rem;
}

.title-main{
    font-weight: bold;
    color: white;
    padding-left: 1rem;
}

.sub-title-main{
    font-weight: bold;
    color: grey;
    padding-top: 0.3rem;
    padding-left: 1rem;
}
/* #region-nav */
.nav{
    padding: 0rem 1rem;
    
    a {
        text-decoration: none;
        color: grey;
        font-weight: bold;
    }
}
/* #endregion-nav */
/* region-recently-played */
/* endregion-recently-played */
/* region-created-for-john-doe */
/* endregion-created-for-john-doe */
/* region-most-popular-artists */
.img-rounded{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}
/* endregion-most-popular-artists */
/* #endregion-main */
/* #endregion-content */

/* #region-footer */
.footer{
    height: 10%;
    width: 100%;
}
/* #endregion-footer */
